<footer class="container h-full mx-auto my-12 text-white max-w-7xl sm:px-6 xl:px-0">
    <div class="flex flex-col-reverse items-center justify-center text-xl sm:flex-row sm:justify-between">
        <div class="flex gap-2">
            <a href="https://twitter.com/Juan1497095" target="_blank"><img src="svg/github.svg" class=" size-8" alt=""></a>
            <a href="https://www.linkedin.com/in/montenegro-dev" target="_blank"><img src="svg/linkedin.svg" class=" size-8" alt=""></a>
            <a href="https://github.com/Juanshiu" target="_blank"><img src="svg/twitter.svg" class=" size-8" alt=""></a>
        </div>
        <a href="#inicio" class="flex items-center gap-2 ">
            <img src="svg/arrowup.svg" alt="" class="p-1 border border-white rounded-full animate-duration-1000 animate-delay-200 animate-shakes">
            <span>Volver a inicio</span>
        </a>
    </div>
    <div class="flex flex-col items-center justify-between mt-4 font-light sm:flex-row">
        <div class="flex gap-4 ">
            <p class="text-center "> Privacidad y Política</p>
            <p class="text-center "> Términos y Condiciones</p>
        </div>
        <p>Copyright © 2024 Juan Diego</p>
    </div>
</footer>