---
import "./index.css";
import Layout from '@layouts/Layout.astro';
import Section from '@components/Section.astro';
import ScrollText  from "@components/Index/textscroll.astro";
import Gallery3D from "@components/Index/Gallery3D.astro";
import Video from "@components/Index/Video.astro";
import Card from "@components/tendencias/Cards.astro";
---

<Layout title="Songlit" description='Biblioteca de Artistas, Caciones y Discografía '>
<div class="background"><div></div></div>

    <main>

        <Section id="inicio" class="flex flex-col gap-8 mt-12 lg:flex-row xl:p-0">

            <article class="flex flex-col justify-center w-full h-auto text-white ">
                
                <div class=" animate-fade-right animate-ease-out animate-delay-200" >
                    <h3 class="animate-charcter text-[6rem] sm:text-9xl font-semibold text-left"> SonGlit</h3>
                </div>

                <h2 class="text-3xl animate-fade-right animate-ease-out animate-delay-300">Todo lo que quieras saber sobra la música, está aquí.</h2>
                
                <p class="mt-2 text-lg animate-fade-right animate-ease-out animate-delay-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quidem fuga soluta veniam corrupti repellat nostrum. Explicabo reprehenderit laborum beatae?</p>

                <div  class="mt-6 animate-fade-right animate-ease-out animate-delay-700">
                    <a href="/tendencias" class="inline-block px-4 py-2 mr-3 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer text-normal bg-gradient-to-tl from-purple-700 to-pink-500 leading-pro ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 hover:scale-110 hover:rotate-2 hover:bg-pink-700 hover:text-pink-200 hover:shadow-lg active:opacity-85">Descubre</a>
                </div>

            </article>
            
            <article class=" lg:size-auto size-[70%] mx-auto animate-fade-left animate-ease-out animate-delay-200"> 
                <Video />
            </article>

        </Section>
        
        <ScrollText />
        
        <Section class="grid w-auto h-auto grid-cols-1 gap-20 text-white lg:grid-cols-2 mt-28 xl:p-0 lg:gap-24 xl:gap-36">
            
            <article class="flex flex-col pt-8 ">
                <h1 class="text-6xl font-semibold animate-charcter text-balance">¡Rockstar! Conoce el mundo de la música</h1>
                <p class="mt-4 mb-2 text-xl ">¿Alguna vez te has preguntado cómo se convierte un músico en un rockstar?</p> 
                <p class="mt-2 mb-2 text-xl ">
                    ¡Bienvenido a la aventura de la música! Aquí descubrirás historias increíbles de artistas que han recorrido el camino desde el anonimato hasta el éxito mundial. Pero ten cuidado, porque este viaje puede ser tan emocionante como peligroso.
                </p>
            </article>

            <article class=" w-full h-full relative">
                <div class=" circle"></div>
                <div class="flex flex-col items-center justify-center">
                    <img src="prueba.svg" class=" sm:w-3/4 lg:w-full lg:pt-24 xl:pt-0" alt="">
                    <Gallery3D />
                </div>
            </article>
        </Section>

        <Section class="flex flex-col gap-8 mb-24 lg:flex-row lg:mt-14 sm:mt-18 xl:p-0">
            <article class="grid w-auto h-auto grid-cols-1 gap-5 mx-auto sm:gap-32 lg:w-1/2 sm:grid-cols-2 lg:gap-0 lg:mx-0">
                <div class="flex flex-col gap-14">
                    <Card
                        album="https://t2.genius.com/unsafe/300x300/https%3A%2F%2Fimages.genius.com%2Fc43578375ef2ac32c140cc35dfe2fef1.1000x1000x1.png"
                        name="The Eminem Show"
                        view={1200}
                    />
                    <Card 
                        class="flex justify-center "
                        album="https://www.losreplicantes.com/images/articulos/19000/19081/1.jpg"
                        name="Guns N' Roses"
                        view={1200}
                    />
                </div>
                <div class="flex flex-col gap-12 mt-8 ">
                    <Card 
                        album="https://www.losreplicantes.com/images/articulos/19000/19081/12.jpg"
                        name="Pink Floyd"
                        view={1200}
                    />
                    <Card
                        class="flex justify-center " 
                        album="https://www.losreplicantes.com/images/articulos/19000/19081/15.jpg"
                        name="Michael Jackson"
                        view={1200}
                    />
                </div>
            </article>

            <article class="flex flex-col justify-center w-full text-white lg:w-1/2">
                <h1 class="text-6xl font-semibold animate-charcter">Tienda de Rockstar: Tu escapada musical</h1>
                <p class="mt-4 mb-2 text-xl ">Sumérgete en el mundo de la música con nuestra Tienda de Rockstar. Aquí encontrarás una selección de mercancías de los artistas que adoras, desde camisetas autografiadas hasta discos vinilo coleccionables. Pero espera, hay más... ¡Nuestros productos son tan cool que podrían convertirte en un rockstar en tu propio hogar!</p>
                <a href="" class="px-4 py-2 mt-4 transition-all border border-white rounded-full shadow-xl w-max hover:shadow-pink-500 hover:scale-105 hover:text-pink-300">Ir a tienda</a>
            </article>
        </Section>

    </main>
</Layout>