---
import Search from "./Search.astro";
import LinesResponsive from "./LinesR.astro";
---

<header class=" fixed z-10 w-full font-light text-white sm:px-8 px-4 bg-white/10 backdrop-blur-xl">
    <div class=" flex items-center justify-between">

        <a href="/" class="flex flex-1 p-2 ">
            <img src="svg/songlit.svg" class=" size-12" alt="">
        </a>
        <nav class="hidden sm:flex justify-center gap-4">
            <a href="/tendencias" class="p-2 transition-all hover:text-pink-300">TENDENCIAS</a>
            <a href="" class="p-2 transition-all hover:text-pink-300">NOTICIAS</a>
            <a href="" class="p-2 transition-all hover:text-pink-300">FAVORITOS</a>
        </nav>
        
        <Search />
        
        <!-- Menú responsive -->
        <LinesResponsive />
    
    </div>
    <div id="menu" class=" my-2 sm:hidden" >
        <ul class="list-none flex flex-col items-center rounded-md ">
            <li class=" font-medium text-xl py-2"><a href="/tendencias">TENDENCIAS</a></li>
            <li class=" font-medium text-xl py-2"><a href="#Proyectos">NOTICIAS</a></li>
            <li class=" font-medium text-xl py-2"><a href="#Experiencia">FAVORITOS</a></li>
            <label class=" flex items-center justify-center w-full h-auto py-2 px-4 text-white bg-white/10 rounded-full">
                <input type="text" id="typed" class="w-full h-full bg-transparent border-none outline-none">
                <img src="svg/search.svg" class="w-4 h-4" alt="">
            </label>
        </ul>
    </div>
</header>