<div class=" relative">
    <video src="video/headphone.mp4" class=" absolute scale-105 -z-10 blur-xl" autoplay loop muted></video>
    <video src="video/headphone.mp4" autoplay loop muted></video>
</div>